<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="../public/style.css" />
        <title>Pizza orders</title>
    </head>
    <body>
        <% if (!finished) { %>
            <header>
                <h1>Page # <%= pageNum %></h1>
                <h2>Showing <%= start %> - <%= end %> of <%= totalNum %></h2>
            </header>
            <main>
                <% for( let index = 0; index < orders.length; index++ ) { %>
                <pre><%= orders[index] %></pre>
                <% } %>
            </main>
            <footer>
                <% if (start !== 0) { %>
                    <a href="<%= prevUrl %>">Prev</a>
                <% } %>
                <a href="<%= nextUrl %>">Next</a>
            </footer>
        <% } else { %>
            <p>There are no more orders</p>
            <p>Return <a href="/order/?page=0">home</a></p>
        <% } %>
    </body>
</html>
